{% extends 'layout.html' %}


{% block head %}
<title>Transaction History</title>

{% endblock %}

{% block body %}

<div class="container">
  <h2>Transaction History</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Date</div>
      <div class="col col-2">Seller</div>
      <div class="col col-2">Buyer</div>
      <div class="col col-3">Item ID</div>
      <div class="col col-4">Price</div>
      <div class="col col-5">Amount</div>
    </li>
    {%for t in transactions%}

    <li class="table-row">
      <div class="col col-1" data-label="ID">{{t.date}}</div>
      <div class="col col-2" data-label="Seller">{{t.seller_name}}</div>
      <div class="col col-3" data-label="Item ID">{{t.buyer_name}}</div>
      <div class="col col-3" data-label="Item ID">{{t.item_id}}</div>
      <div class="col col-4" data-label="Price">{{t.price}}</div>
      <div class="col col-5" data-label="Amount">{{t.amount}}</div>
    </li>
    {%endfor%}

  </ul>
</div>


{% endblock %}